<!DOCTYPE html>
<html>
  <head>
    <title>New Search</title>
    <link href="../styles/base.css" rel="stylesheet">
    <link href="../styles/layout.css" rel="stylesheet">
    <link href="../styles/modules.css" rel="stylesheet">
  </head>
  <body>
    <%- include('../layout/header.ejs') %>
    <section>
      <p>Search by Title or Author</p>
    </section>
    <form action="/searches" method="post">
      <input id="text" type="text" name="search" placeholder="enter title or author" required>
      <fieldset>
        <label for="title">Title</label>
        <input type="radio" name="search" value="title" required>
      </fieldset>
      <fieldset>
        <label for="author">Author</label>
        <input type="radio" name="search" value="author" required>
      </fieldset>
      <button type="submit">Search the Google Books API</button>
    </form>
  </body>
</html>