<!DOCTYPE html>
<html>
  <head>
    <title>Results</title>
  </head>
  <body>
    <header>
      <h1>Best Books!</h1>
      <img src="https://www.freeiconspng.com/uploads/book-icon--icon-search-engine-6.png">
    </header>
    <main>
      <h2>Search Results:</h2>
      <% let parsedData = JSON.parse(searchResults); %>
      <% parsedData.forEach(book => { %>

        <ul>
          <li id="book-title"><%= book.title%></li>
          <li id="author name"><%= book.author %></li>
          <li><%= book.description %></li>
        </ul>
        <% }); %>
    </main>
  </body>
</html>