#bookNum{
  margin-top: 7%;
  margin-bottom: 4%;
  text-align: center;
}

.updateDelete{
  width: 70%;
  margin-bottom: 5%;
}

#text{
  height: 30px;
  width: 90%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 5px;
}

::placeholder {
  margin-left: 10px;
}

#searchResults{
  width: 100%;
  margin-left: 0px;
  height: 2em;
}

#detail{
  margin-top: 5%;
}

.thumb{
  margin-top: 6%;
  border: solid;
}

.viewDet{
  background: black;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 3%;
  text-decoration: none;
  font: caption;
  margin-left: 30%;
}

.author{
  color: black;
  font-size: 12px;
  margin-bottom: 5%;
  font-style: italic;
}

.description{
  background-color: lightgray;
  color: black;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 1%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 5%;
}

.isbn{
  font-style: italic;
  color: black;
  font-size: 12px;
  margin-bottom: 10%;
}

.title{
  margin-top: 2%;
  color: white;
  text-shadow: 1px 1px black;
  font-size: 18px;
  margin-bottom: 1%;
}